 th, tr, table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(215, 166, 43);
    margin: auto;
    padding: 12px;
    text-align: center;
}
.task {
    text-align: left;
    padding: 6px;
}
thead, th{
    background-color: rgb(170, 131, 34);
    border: 3px solid black;
}
body {
    background-color: rgb(106, 56, 24);
    margin: 0px;
}
header {
    background-color: rgb(220, 76, 63);
    margin: 50px;
    padding: 12px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

#addToDo {
    text-align: center;
    margin: auto;
    padding: 24px;
}
.status {
    color: rgb(110, 255, 19);
    background-color: rgb(72, 137, 29);
    font-size: 24px;
}
.deleteButton {
    font-size: 24px;
    background-color: black;
}
td {
    border: 1px solid black;
}
